@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth" style="z-index:1000">
        <LoginDisplay />
        <AuthorizeView>
            @if (context.User.Identity.IsAuthenticated)
            {
                <AutoLogout Roles="@(new List<string>() { "Admin", "User" })" />
            }
        </AuthorizeView>
        <a href="/acerca-de" target="_self"><span class="oi oi-code" aria-hidden="true"></span></a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="3"
                ShowProgressBar="true" />
